/* GENERAL */
body {
	display: block;
	text-align: center;
	height: 100%;
	margin: 0 20px;
}

.error {
    color: red;
}

#appname {
	font-family: 'Lobster', cursive;
	font-size: 3em; /*1em norm, 2em twice the size*/
}

.logo {

}

.button {
	background: lightpink;
	color: white;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	height: 35px;
	width: 200px;
	text-align: center;
}

.submitbutton {
	text-align: center;
}

.bottombutton {
	text-align: center;
	width: 90%;
	margin: 20px;
}

p {
	font-style: italic;
}

label {
	font-weight: bold;
}

form {
	text-align: center;
	margin: 20px;
	width: 90%;
}

.form-group {
	margin: 5px 0px;
	padding: 5px 20px;
	text-align: left;
	width: 90%;
}

.form-control {
	width: 100%;
}

footer,
.push {
	flex-shrink: 0;
}

/* INDEX */
.indexbody {
	display: block;
	text-align: center;
	flex: 1 0 auto;
}

/* REGISTER */
.registerbody {
	display: block;
	text-align: center;
	flex: 1 0 auto;
}

/* LOGIN */
.loginbody {
	display: block;
	text-align: center;
	flex: 1 0 auto;
}

/* CALENDAR */


/* SETTINGS */


/* ADD TO CALENDAR */
