<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragment :: head"></head>
    <body>

        <div class = "addtocalendar">
            <h1 class = event-title>Add Event To Calendar</h1>
            <form method = "post" class = "must" th:object="${events}">

                <div id = "title" class = "add-form">
                    <label th:for="*{title}">Title</label>
                    <input th:field="*{title}" type = text class = "add-form-control" />
                </div>

                <div id = "startdate" class = "add-form">
                    <label th:for="*{startDate}">Start Date</label>
                    <input th:field="*{startDate}" type = "date" id = "start_date" />
                </div>

                <div id = "starttime" class = "add-form">
                    <label th:for="*{startTime}">Start Time</label>
                    <input th:field="*{startTime}" type = "time" id = "start_time" />
                </div>
                <br>
                <div id = "enddate" class = "add-form">
                    <label th:for="*{endDate}">End Date</label>
                    <input th:field="*{endDate}" type = "date" id = "end_date" />
                </div>

                <div id = "endtime" class = "add-form">
                    <label th:for="*{endTime}">End Time</label>
                    <input th:field="*{endTime}" type = "time" id = "end_time" />
                </div>

<!--                <div class = "extra">-->
<!--                    <div id = "location" class = "extra-add-form">-->
<!--                        <select name = "location" class = "add-form-control">-->
<!--                            <option value='select'>Location</option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div id = "group" class = "extra-add-form">-->
<!--                        <select name = "group" class = "add-form-control">-->
<!--                            <option value='select'>Group</option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div id = "reminder" class = "extra-add-form">-->
<!--                        <select name = "reminder" class = "add-form-control">-->
<!--                            <option value='select'>Reminder</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->

                <div class = "submitbutton">
                    <input class = "button" type = "submit" value = "Save Event" />
                </div>
            </form>
        </div>

    </body>
</html>