<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragment :: head"></head>
    <body>
        <div id = "body">
            <h1 class = event-title>Settings</h1>

            <a href = "/calendar">
                <input class = "button" type = "submit" value = "Calendar" />
            </a>

            <form method = "post" class = "settings">
<!--                <div id = "search" class = "settings-form">-->
<!--                    <label>Search</label>-->
<!--                    <input name = "search" class = "settings-form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for events...">-->
<!--                    <a href = "/calendar/event">-->
<!--                        <input class = "button" type = "submit" value = "Search" />-->
<!--                    </a>-->
<!--                </div>-->

                <div class="topnav">
                    <div class="search-container">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>

<!--                <div id = "uploadcalendar" class = "settings-form">-->
<!--                    <a>Upload Calendar</a>-->
<!--                </div>-->

<!--                <div id = "creategroup" class = "settings-form">-->
<!--                    <label>Create Group</label>-->
<!--                    <input name = "creategroup" class = "settings-form-control" />-->
<!--                </div>-->

<!--                <div id = "groups" class = "settings-form">-->
<!--                    <h3 class = "groupstitle">GROUPS:</h3>-->
<!--                    <a>Group Name</a>-->
<!--                </div>-->

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a href = "/">
                    <input class = "button" value = "Logout" />
                </a>
            </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <footer th:replace="fragment :: footer"></footer>

    </body>
</html>